-- RedefineTables
PRAGMA defer_foreign_keys=ON;
PRAGMA foreign_keys=OFF;
CREATE TABLE "new_SubjectQuota" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "subjectId" TEXT NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "studyProgram" TEXT NOT NULL DEFAULT 'DEFAULT',
    "quota" INTEGER NOT NULL DEFAULT 0,
    "quotaPrimary" INTEGER NOT NULL DEFAULT 0,
    "quotaMiddle" INTEGER NOT NULL DEFAULT 0,
    "quotaHigh" INTEGER NOT NULL DEFAULT 0,
    "quotaG1" INTEGER NOT NULL DEFAULT 0,
    "quotaG2" INTEGER NOT NULL DEFAULT 0,
    "quotaG3" INTEGER NOT NULL DEFAULT 0,
    "quotaG4" INTEGER NOT NULL DEFAULT 0,
    "quotaG5" INTEGER NOT NULL DEFAULT 0,
    "quotaG6" INTEGER NOT NULL DEFAULT 0,
    "quotaG7" INTEGER NOT NULL DEFAULT 0,
    "quotaG8" INTEGER NOT NULL DEFAULT 0,
    "quotaG9" INTEGER NOT NULL DEFAULT 0,
    "quotaG10" INTEGER NOT NULL DEFAULT 0,
    "quotaG11" INTEGER NOT NULL DEFAULT 0,
    "quotaG12" INTEGER NOT NULL DEFAULT 0,
    CONSTRAINT "SubjectQuota_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "SubjectQuota_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO "new_SubjectQuota" ("academicYearId", "id", "quota", "quotaG1", "quotaG10", "quotaG11", "quotaG12", "quotaG2", "quotaG3", "quotaG4", "quotaG5", "quotaG6", "quotaG7", "quotaG8", "quotaG9", "quotaHigh", "quotaMiddle", "quotaPrimary", "subjectId") SELECT "academicYearId", "id", "quota", "quotaG1", "quotaG10", "quotaG11", "quotaG12", "quotaG2", "quotaG3", "quotaG4", "quotaG5", "quotaG6", "quotaG7", "quotaG8", "quotaG9", "quotaHigh", "quotaMiddle", "quotaPrimary", "subjectId" FROM "SubjectQuota";
DROP TABLE "SubjectQuota";
ALTER TABLE "new_SubjectQuota" RENAME TO "SubjectQuota";
CREATE UNIQUE INDEX "SubjectQuota_subjectId_academicYearId_studyProgram_key" ON "SubjectQuota"("subjectId", "academicYearId", "studyProgram");
PRAGMA foreign_keys=ON;
PRAGMA defer_foreign_keys=OFF;

